* {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    max-width: 1440px;
    justify-content: center;
    margin: auto;
  }
  header,
  article {
    max-width: 1440px;
    
  }
  
  main {
    max-width: 1440px;
    
  
    @media screen and (max-width: 1024px) {
      padding: 27px 25px;
    }
  
    @media screen and (max-width: 768px) {
      padding: 27px 20px;
    }
  }

  a{
    text-decoration: none;
  }