.footer {
  display: flex;
  height: 209px;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 28px;
  background: #000;

  @media screen and (max-width: 768px) {
    gap: -0.444px;
    
  }
  &__logo {
    width: 122px;
    height: 39px;
  }

  &__text-copyright {
    color: rgba(255, 255, 255, 1);
    
    @media screen and (max-width: 768px) {
      font-size: 12px;
      font-weight: 500;
  
    }
  }

  
}